name: Secrets and Environments
on:
  workflow_dispatch:
  
jobs:
  staging-environment:
    runs-on: ubuntu-24.04
    environment: staging
    env:
      # Inject repo-level secret and variable into the shell
      EX_REPO_SECRET: ${{ secrets.EX_REPO_SECRET }}
      EX_REPO_VAR: ${{ vars.EX_REPO_VAR }}
      # Inject environment level items into the shell
      EX_ENVIRONMENT_SECRET: ${{ secrets.EX_ENVIRONMENT_SECRET }}
      EX_ENVIRONMENT_VAR: ${{ secrets.EX_ENVIRONMENT_VAR }}
    steps:
      - name: Inspect values inside job
        run: |
          echo " Repo Secret (Masked):            $EX_REPO_SECRET"
          echo " Repo Variable:                   $EX_REPO_VAR"
          echo " Environment Secret (Masked):            $EX_ENVIRONMENT_SECRET"
          echo " Environment Var:            $EX_ENVIRONMENT_VAR"
  
  production-environment:
    runs-on: ubuntu-24.04
    environment: production
    env:
      # Inject repo-level secret and variable into the shell
      EX_REPO_SECRET: ${{ secrets.EX_REPO_SECRET }}
      EX_REPO_VAR: ${{ vars.EX_REPO_VAR }}
      # Inject environment level items into the shell
      EX_ENVIRONMENT_SECRET: ${{ secrets.EX_ENVIRONMENT_SECRET }}
      EX_ENVIRONMENT_VAR: ${{ secrets.EX_ENVIRONMENT_VAR }}
    steps:
      - name: Inspect values inside job
        run: |
          echo " Repo Secret (Masked):            $EX_REPO_SECRET"
          echo " Repo Variable:                   $EX_REPO_VAR"
          echo " Environment Secret (Masked):            $EX_ENVIRONMENT_SECRET"
          echo " Environment Var:            $EX_ENVIRONMENT_VAR"